* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  width: 99vw;
  background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position:fixed;
  top:0;
  left:0;
  display:flex;
  width: 100vw;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:2;
}

.navlist {
  display:flex;
  width: 33vw;
  justify-content:space-between;
  align-items:center;
  margin-top:1rem;
}

.navlist a {
  margin-right:1rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: black;
  padding-left:1rem;
  color: white;
  text-shadow: 1px -0.5px greenyellow;
}

.navlist a:hover {
  text-decoration: underline solid white 0.001px;
}



#welcome-section {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height:100vh;
  background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: monospace;
  font-size:3rem;
  text-shadow: 2px 2px greenyellow;
  border: transparent;
  color: white;
}



#welcome-section p {
  text-shadow: 1px 1px greenyellow;
  color: white;
  margin-top: 1rem;
  text-align: center;
  border: transparent;
}

main {
  /* esse margin foi uma mão na roda viu... source: freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
  margin: 0 auto;
  max-width: 1200px;
}

#projects {
  display: flex;
  flex-direction:column;
  align-items: center;

}

h2 {
  font-family: monospace;
  font-size:3rem;
  text-align: center;
  font-style: normal;
  text-shadow: 1px 1px greenyellow;
  color: white;
}


.project-tile {
  background-color: transparent;
  border: white 4px solid;
  min-width: 300px;
  min-height: 30px;
  width: 50vw;
  margin: 0.5rem;
  font-family: monospace;
  font-weight: bolder;
  }

.project-tile summary {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border-bottom: white 4px solid;
  letter-spacing: 1rem;
}

.project-tile p {
  color: white;
}

.project-tile a {
  text-decoration: none;
  color: greenyellow;
  font-weight: bolder;
  text-shadow: 1px 1px white;
}

.project-tile a:hover {
  text-decoration: underline solid salmon 0.001px;
}

.project-card {
  position: relative;
}

.project-card a {
  position: absolute;
  bottom: 0;
  left: 0;
}

.project-card .svgList {
  position: aboslute;
  bottom: 0;
  right: 0;
}

#about {
  padding: 2rem;
  font-style: monospace;
  font-family: monospace;
}

#about h2 {
  margin-bottom: 1rem;
}

#about p {
  font-family: monospace;
  padding: 1rem;
  color: white;
  font-weight: bolder;
  text-align: justify;
  text-shadow: 0.7px 0.5px black;
  font-weight: 300;
  width: 500px;
  margin: 0 auto;
}

#about p a {
  text-decoration: none;
  color: greenyellow;
  font-weight: bolder;
  text-shadow: 1px 1px white;
}

#about p a:hover {
  text-decoration: underline solid salmon 0.001px;
}

#about h3 {
  font-size: 2rem;
  padding: 2rem;
}

footer {
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
height:100%;
background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
background-attachment:fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


footer a{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px greenyellow;
  text-align: center;
  border: transparent;
  white-space: nowrap;
  margin-top: 0.5rem;
}


footer h2 {
  padding-top:0;
}

@media (max-width: 1000px) {
  .project-tile {
      width: 70%;
      height: 70%;
  }
  #whoami #fav {
      position:relative;
  }

  #whoami .img {
      float:none;
  }

  #whoami .img2 {
      float:none;
      padding-left: 0;
      padding-right: 2rem;
  }

  #imgs {
      display:block;
      float:left;
  }
}
